<footer>
    <div class="row rm-m">
        <div class="col-sm-12 col-md-3 rm-p">
            <div class="row rm-m footer">
                <div class="col-4"><a href="http://www.linkedin.com/in/victorosuyak/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                <div class="col-4"><a href="http://www.github.com/vosuyak" target="_blank"><i class="fab fa-github-square"></i></a></div>
                <div class="col-4"><a href="./../../../assets/VictorOsuyak_TopSoftwareDeveloper.pdf" download="Victor_Osuyak_Resume_Top_Software_Dev"><i class="fas fa-file-pdf"></i> Resume</a></div>
            </div>
        </div>
        <!-- <div *ngIf="checkIfHome()"  class="col-4">
            <a routerLink="/{{more}}">show more</a>
        </div> -->
        <div class="col-sm-12 col-md-9 rm-p">
            <div class="creator">
                <p>Designed & Developed by <span>Me</span></p>
            </div>
        </div>
    </div>
</footer>