<!-- <div class="side-nav"> -->
<!-- <input type="radio" id="me" name="slider" title="Me" checked="checked"/>
        <input type="radio" id="education" name="slider" title="Education"/>
        <input type="radio" id="experience" name="slider" title="Experience"/>
        <input type="radio" id="skill" name="slider" title="Skill"/> -->
<!-- </div> -->
<!-- Further content here -->
<!-- <input type="radio" id="Slide5" name="slider" title="Section 5"/> -->
<div class="all-pages">
  <shared-header></shared-header>

  <div id="me">
    <div class="page">
      <div class="me-content">
        <h1>Victor Osuyak</h1>
        <p>Software Developer | Investor</p>
      </div>

    </div>
  </div>
  <div id="education">
    <education-snippet></education-snippet>
  </div>
  <div id="experience">
    <experience-snippet></experience-snippet>
  </div>
  <div id="skill">
    <skill-snippet></skill-snippet>
  </div>
</div>