<div class="wrapper">
    <form>
      <input type="radio" id="Slide1" name="slider" title="Me"/>
      <input type="radio" id="Slide2" name="slider" title="Education" checked="checked"/>
      <input type="radio" id="Slide3" name="slider" title="Experience"/>
      <input type="radio" id="Slide4" name="slider" title="Skill"/>
      <!-- <input type="radio" id="Slide5" name="slider" title="Section 5"/> -->
      <div class="labels">
        <label for="Slide1" id="Slide1" class="Slide">
          <div class="content">
            <h1><strong>Pure CSS</strong> one page vertical navigation</h1>
          </div>
        </label>
        <label for="Slide2" id="Slide2" class="Slide">
            <page-education></page-education>
        </label>
        <label for="Slide3" id="Slide3" class="Slide">
          <page-experience></page-experience>
        </label>
        <label for="Slide4" id="Slide4" class="Slide">
          <page-skill></page-skill>
        </label>
      </div>
    </form>
  </div>