<div class="wrapper">
    <form>
      <!-- <div class="side-nav"> -->
        <input type="radio" id="me" name="slider" title="Me" checked="checked"/>
        <input type="radio" id="education" name="slider" title="Education"/>
        <input type="radio" id="experience" name="slider" title="Experience"/>
        <input type="radio" id="skill" name="slider" title="Skill"/>
      <!-- </div> -->

      <!-- <input type="radio" id="Slide5" name="slider" title="Section 5"/> -->
      <div class="labels">
        <label for="me" id="me" class="Slide">
          <div class="me-content">
            <h1>Victor Osuyak</h1>
            <p>Software Developer | Investor</p>
          </div>
        </label>
        <label for="education" id="education" class="Slide">
            <!-- <page-education></page-education> -->
            <education-snippet></education-snippet>
        </label>
        <label for="experience" id="experience" class="Slide">
          <!-- <page-experience></page-experience> -->
          <experience-snippet></experience-snippet>
        </label>
        <label for="skill" id="skill" class="Slide">
          <!-- <page-skill></page-skill> -->
          <skill-snippet></skill-snippet>
        </label>
      </div>
    </form>
  </div>