<section class="col-sm-6 col-md-4 small-snip">
    <div class="card">
        <img style="background-image: url(./../../../../assets/{{bgImg}}.png)" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{position}}</p>
          <p class="card-text">
            <span *ngFor="let item of description"  class="badge badge-pill badge-dark">{{item}}</span>
          </p>
          <a *ngIf="location == 'internal'"  routerLink="/project/{{url}}" class="btn btn-dark"><span><i class="fas fa-link"></i></span>
          </a>
        </div>
    </div>
</section>