<section class="col-sm-6 col-md-4 small-snip">
    <div class="card">
        <img src="http://via.placeholder.com/300x200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{position}}</p>
          <p class="card-text">
            <span *ngFor="let item of description"  class="badge badge-pill badge-dark">{{item}}</span>
          </p>
          <a [href]="url" class="btn btn-primary"><span *ngIf="type_two == 'github' else link"><i class="fab fa-github"></i></span> <ng-template #link><i class="fas fa-link"></i></ng-template>
          </a>
        </div>
    </div>
</section>