<div class="page">
    <shared-header></shared-header> 
    <header class="page-title"><h1>{{page}}</h1></header>
    <main class="main-content">
        <div class="row sections container">
            <div class="section-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <section class="col-xs-12 col-md-4">
                <h4>MBA in IT Management</h4>
                <h5>Western Governors University</h5>
                <p>2018 - 2020</p>
            </section>
            <section class="col-xs-12 col-md-4">
                <h4>B.S. Graphic Communication</h4>
                <h5>Illinois State University</h5>
                <p>2015 - 2017</p>
            </section>
            <section class="col-xs-12 col-md-4">
                <h4>A.A. Digital Arts</h4>
                <h5>Wright Community College</h5>
                <p>2012 - 2015</p>
            </section>
        </div>
        <div class="out">
            good bye this is out
        </div>
    </main>
    <shared-footer more="{{page}}"></shared-footer>  
</div>
