.card{
    img{
        width: 60px;
        margin: 1em;
        border-radius: 50%;
        height: 60px;
        border: solid 1px #dbdbdb;
    }
}
@media (max-width: 991.98px) { 
}
@media (max-width: 575.98px) { 

}