<section class="col-xs-12 col-md-4 big-snip">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{position}}</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">{{employer}}</h6>
          <p class="card-text text-center">{{start_date}} | {{end_date}}</p>
          <p class="card-text">
            <span *ngFor="let item of description"  class="badge badge-pill badge-dark">{{item}}</span>
          </p>
        </div>
    </div>
</section>