header{
    margin-bottom:2em;
    .icon{
        width: 100px;
        margin-left: 1.5em;
        margin-top: 1.6em;
        i{
            font-size: 1.6em;
        }
    }
    .images{
        width: 100px;
        float: right;
        margin-right: 1.5em;
        margin-top: 1em;
        img{
            width: 100%;
        }
    }
}
@media (max-width: 575.98px) { 
    header{
        margin-bottom: 1em;

    }
}