header{
    margin-bottom: 2em;
    position: sticky;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    .icon{
        width: 100px;
        margin-left: 1em;
        margin-top: 4em;
        position: relative;
        z-index: 100;
        i{
            font-size: 2em;
        }
    }
    .images{
        width: 100px;
        float: right;
        margin-right: 1.5em;
        margin-top: 1em;
        img{
            width: 100%;
        }
    }
    .page-title{
        padding-left: 2em;
        .show-more{
            button{
                position: absolute;
                left: 0;
                background-color: white;
                color: black;
                font-weight: 400;
                text-align: center;
                border: none;
                box-shadow: black -1px 1px 7px -3px;
                border-radius: 3px;
                margin-left: 2em;
                margin-top: .5em;
                z-index: 100;
                &:before{
                    content: "show more";
                }
            }
        }
        h1{
            font-size: 1.1em;
            text-align: left;
            text-transform: capitalize;
            padding-bottom: 1em;
            margin-bottom: 0;
        }
    }
    .side-nav{
        display: none;
        .opacity{
            background-color: rgba(0, 0, 0, 0.63);
            height: 100vh;
            width: 100vw;
            position: absolute;
        }
        .menu{
            left: 15px;
            position: absolute;
            // font-size: 1.5em;
            z-index: 100;
            padding-top: .9em;
            i{
                font-size: 2em;
            }
        }
        ul{
            list-style-type: none;
            width: 230px;
            height: 100vh;
            top: 0;
            position: absolute;
            padding: 7em 1em 15px;
            bottom: 0;
            margin: 0;
            li{
                padding: 1em 0;
                a{
                    color: #f5f5f5;
                    text-transform: capitalize;
                    font-size: 1.5em;
                }
            }
        }
    }
    .top-nav{
        width: 100%;
        // border: solid 1px black;
        padding-right: 4em;
        display: block;
        ul{
            // padding-left: 0px;
            display: block;
            float: left;
            list-style-type: none;
            margin-bottom: 0px;
            li{
                display: inline;
                margin: 0px 1em;
                a{
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 991.98px) { 
    .top-nav{
        display: none !important;
    }
    .side-nav{
        display: block !important;
    }
        .page-title{
            .show-more{
                button{
                    margin-left: 7.8em !important;
                    margin-top: -2.7em !important;
                    &:before{
                        content: "more" !important;
                    }
                }
            }
        }
}
@media (max-width: 575.98px) { 
    .top-nav{
        display: none !important;
    }
    .side-nav{
        display: block !important;
    }
    header{
        margin-bottom: 0em;

    }
}