/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}

.rm-m{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.rm-p{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.card{
    width: 18rem;
    margin:1em 0px;

}




@media (max-width: 575.98px) { 
    .card{
    }
}