.skill-container{

}

@media (max-width: 991.98px) { 
}
@media (max-width: 575.98px) { 
    .skill-container{
        -webkit-box-pack: inherit;
        padding-left: 6em;
        .small-snip{
            width: 50%;
            padding: 2em 1em;
        }
    }
}