<section class="col-6 col-md-3 small-snip">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{school}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{degree}}</h6>
          <p class="card-text">{{type}}</p>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="courses">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#collapse{{id}}" aria-expanded="false" attr.aria-controls="collapse{{id}}">
                  Courses
                </button>
              </h2>
            </div>
        
            <div id="collapse{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <span *ngFor="let item of courses"  class="badge badge-pill badge-dark">{{item.name}}</span>
              </div>
            </div>
          </div> 
        </div>
    </div>                         
</section>